# Dependencies
node_modules/

# Build output
dist/

# IDE
.idea/
.vscode/
*.swp
*.swo

package-lock.json
# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo

# Logs
*.log
npm-debug.log*

# Tarball
*.tar.gz
